@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    font-family: Inconsolata, sans-serif;
    font-size: 12pt;
}

body {
    margin: 0 2%;
}

h1 {
    font-weight: normal;
    font-size: 28pt;
    padding-bottom: 10pt;
    border-bottom: solid 1px #eeeeee;
}

canvas {
    border: solid 1px gray;
}

#visualizer {
    width: 600px;
    height: 460px;
}